<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Promotional lottery</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>

<body>
  <div class="login-container">
  <div class="login-header">
    <h1 title="login">Identification</h1>
    <p title="close">x</p>
  </div>

  <div class="login-form">
    {% if I_outofservice|string() == "yes" %}
    <p>Identification server unavailable</p>
    {% elif error|string() != "" %}
    <p>Invalid ID</p>
    {% else %}
    <p>ID: {{ id }}</p>
    <p>First name: {{ firstname }}</p>
    <p>Last name: {{ lastname }}</p>
    <p>Email: {{ email }}</p>
    {% endif %}
  </div>

  <div class="login-form">
    <br /><br />
    <h1>Service S</h1>
    {% if S_outofservice|string() == "yes" %}
    <p>Status service unavailable</p>
    {% elif hasplayed|string() == "no" %}
    <p>You have not played so far</p>
    <br /><br />
    {% else %}
    <p>You have already played at {{ time }}</p>
    <br /><br />
    {% endif %}
  </div>

  <div class="login-form">
    <form>
      <h1>Service B</h1>
      {% if hasplayed|string() == "yes" %}
      <input type="button" value="Play" disabled/>
      {% else %}
      <input type="button" value="Play" />
      {% endif %}
      <br /><br />
    </form>
  </div>

  <div class="login-form">
    <br /><br />
    <h1>Service P</h1>
    <br /><br />
  </div>
</div>
</body>
</html>
