<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Promotional lottery</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
</head>

<body>
  <div class="login-container">
  <div class="login-header">
    <h1 title="login">Promotional lottery </h1>
    <p title="close">x</p>
  </div>

  <div class="login-form">
    <h1 title="login">Identification</h1><br/>
    {% if I_outofservice|string() == "yes" %}
    <p>Identification server unavailable</p>
    {% elif error|string() != "" %}
    <p>Invalid ID</p>
    {% else %}
    <p>ID: {{ id }}</p>
    <p>First name: {{ firstname }}</p>
    <p>Last name: {{ lastname }}</p>
    <p>Email: {{ email }}</p>
    {% endif %}<br/>
  </div>

  <div class="login-form">
    <h1>Service S</h1>
    <br />
    {% if S_outofservice|string() == "yes" %}
    <p>Status service unavailable</p>
    {% elif hasplayed|string() == "no" %}
    <p>You have not played so far</p>
    <br /><br />
    {% else %}
    <p>You have already played at {{ time }}</p>
    <br />
    {% endif %}
  </div>

  <div class="login-form">
    <form action="/play?user_id={{id}}" method="post">
      <h1>Service B</h1>
      <br />
      {% if B_outofservice|string() == "yes" %}
      <p>Button server unavailable</p>
      {% elif W_outofservice|string() == "yes" %}
      <p>Worker server unavailable</p>
      {% elif hasplayed|string() == "no" and I_outofservice|string() == "no" and S_outofservice|string() == "no" %}
      <input type="submit" value="Play" />
      {% else %}
      <input type="submit" value="Play" disabled/>
      {% endif %}
      <br />
    </form>
  </div>

  <div class="login-form">
    <h1>Service P</h1>
    <br />
    {% if P_outofservice|string() == "yes" %}
    <p>Picture server unavailable</p>
    {% elif hasplayed|string() == "no" %}
    <p>No image found: You have not played yet</p>
    {% elif image_prize|string() != "" %}
    <img src="static/image.jpg" alt="" style="width:400px;height:350px;">
    {% else %}
    <p>?</p>
    {% endif %}
    <br />
  </div>
</div>
</body>
</html>
